@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@media screen and (max-width: 600px) {
    #body {
        flex-wrap: wrap;
    }
}

#body {
    height: 100%;
    margin: 0;
    padding: 10px;
    background-color: #EBF2FA;
    display: flex;
}

.logo {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.column{
    width: 33vw;
    display: flex;
    flex-direction: column;
}

.filter {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.input {
    width: 250px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
}

.top-margin {
    margin-top: 5px;
}

.map {
    /*width: 66vw;*/
    border-style: solid;
    border-width: 2px;
    border-color: #06668C;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #427AA1;
    border-style: solid;
    border-color: #06668C;
    border-width: 2px;
    color: #EBF2FA;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.bottom-margin {
    margin-bottom: 25px;
}

.selection {
    background-color: white;
    border-style: solid;
    border-color: #06668C;
    border-width: 1px;
    border-radius: 5px;
    width: 230px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    display: none;
}

.selected {
    background-color: white;
    border-style: solid;
    border-color: #06668C;
    border-width: 1px;
    border-radius: 5px;
    width: 230px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    display: block;
}