.header_intro{
    display: flex;
    justify-content: space-between;
}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A7C1CF;
    width: 100%;
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(96, 165, 187);
}
 
.logo-Be-Safe {
    width: 150px;
    height: 150px;
}

.headear_text{
    display: flex;
    flex-direction: column;
    background-color:  #A7C1CF;
    margin: 2em;   
}

.headear_text_presentation{
    color:white;
    font-family: Helvetica ;
}

h1 {
    text-align: center;
}


@media (max-width: 480px){
   
 .logo-Be-Safe{
    width: 150px;
    height: 150px;
 } 

 h1{
     font-size: large;
 }

.header_intro{
    flex-direction: column;
 }
}
